<div class="app">
	<div class="layout">
		<div class="notifier-place"></div>
		<div class="header-place"></div>
		<div class="{{pagePlace}} content"></div>
		<div class="footer-place"></div>
	</div>
	<div class="fullscreen"></div>
</div>