@import 'dialogs/dialogs';
@import 'catalog/catalog';
@import 'header/header';
@import 'footer/footer';

@import '../components/items-list/items-list';

* {box-sizing: border-box;margin: 0; padding: 0}
html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

body {
	min-height: 100%;
	//height: auto !important;
	height: 100%;
	position: relative;
	background: url('/images/app-bg.png') #ebebeb;
}

.app-container {
	width: 100%;
	height: 100%;
}

.app {
	position: relative;
	max-width: 990px;
	min-height: 100%;
	background: url('/images/content-bg.png') #f6f6f6;
	margin: 0 auto;
	padding: 10px;
	padding-bottom: 50px;
	box-shadow: 0px 0px 400px #0088cc;

	p {padding:10px}

	.notifier {
		position: absolute;
		left: 230px;
		top: 110px;
		right: 20px;
		z-index: 10;
		height: 50px;
		overflow: hidden;
	}
}