<div class="home-module">
	<h2>Welcome to our shop!</h2>
	<div style="text-align: center">
		<img src="/data/images/modapp-logo-big.png"/>
	</div>
	<p>
		This is demo <b>modapp</b> application<br/>
		Put your modules in the <b>modules</b> folder
	</p>
	<div class="clearfix"></div>
	<p>
		You can try to switch between demo pages:<br/>
		<a href="#!catalog">catalog</a><br/>
		<a href="#!contacts">contacts</a><br/>
	</p>
	<p>
		View project on <a href="http://github.com/holiber/modapp">Github</a>
	</p>
</div>