<div class="home-module">
	<h2>Welcome to our chat!</h2>

	<div class="bar">
		<b>Backend workflow:</b>
		<ul>
			<li>MongoDB</li>
			<li>nodejs</li>
			<li>socket.io</li>
		</ul>
	</div>

	<div class="bar">
		<b>Frontend workflow:</b>
		<ul>
			<li>yeoman.io</li>
			<li>jquery</li>
			<li>socket.io</li>
			<li>modapp</li>
			<li>bootstrap</li>
		</ul>
	</div>

</div>
