.home-module {
	vertical-align: top;

	.bar {
		display: inline-block;
		padding: 1em;
		background-color: white;
		width: 15em;
		box-shadow: 0 0 10px #ddd;
		margin: 1em;
		height: 150px;
		vertical-align: top;
	}
}