<div class="register-module modal hide fade">
	<div class="modal-header">
		<a href="#?" type="button" class="close" >&times;</a>
		<h3>Registration</h3>
	</div>
	<div class="modal-body">
		<input type="text" name="email" placeholder="E-mail"/><br/>
		<input type="text" name="pass" placeholder="password"/>
		<input type="text" name="passconfirm" placeholder="confirm password"/>
	</div>
	<div class="modal-footer">
		<a href="#" class="btn to-cart btn-primary">Registration</a>
	</div>
</div>