<ul class="menu-module nav nav-pills nav-stacked" style="max-width: 300px;">
	<li class="{{parent.m.items}}"><a href="#!catalog/items">Items</a></li>
	<li class="{{parent.m.delivery}}"><a href="#!catalog/delivery">Delivery</a></li>
	<li class="{{parent.m.cart}}"><a href="#!catalog/cart">Cart {{#if cartSize}} ({{cartSize}}) {{/if}}</a></li>
</ul>