<div class="contacts-module">
	<h3>Contacts</h3>
	<p>
		<iframe class="pull-right" width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=%D1%8D%D0%B2%D0%B5%D1%80%D0%B5%D1%81%D1%82&amp;aq=&amp;sll=36.914764,103.535156&amp;sspn=19.035341,43.286133&amp;ie=UTF8&amp;hq=&amp;hnear=%D0%AD%D0%B2%D0%B5%D1%80%D0%B5%D1%81%D1%82&amp;t=m&amp;ll=28.042895,86.916275&amp;spn=0.212111,0.291824&amp;z=11&amp;iwloc=A&amp;output=embed"></iframe>
		<b>You can find us here:</b><br/>
			Netherland, unknown str. 5
		<div class="clearfix"></div>
	</p>
</div>