<div class="delivery-module">
	<b>Delivery</b>

	<p>
		You can get your items by visit our shop: <br/>
		<i>Netherland, unknown str. 5</i>

	</p>

	<p>
		<b>Free shipping for this items:</b>
		{{#eq loadState 'loading'}}
			<div class="progress progress-striped active">
				<div class="bar" style="width: 100%;"></div>
			</div>
		{{/eq}}

		{{#eq loadState 'done'}}
			<div class="items-list-place"></div>
		{{/eq}}
	</p>
</div>