<div class="login-module modal hide fade">
	<div class="modal-header">
		<a href="#?" type="button" class="close" >&times;</a>
		<h3>Sign in</h3>
	</div>
	<div class="modal-body">
		<input type="text" name="login" placeholder="login"/><br/>
		<input type="text" name="pass" placeholder="password"/>
		<a href="#?register=true">Registration</a>
	</div>
	<div class="modal-footer">
		<a href="#" class="btn to-cart btn-primary">Sign in</a>
	</div>
</div>