<div class="login-module modal hide fade">
	<div class="modal-header">
		<a href="#?" type="button" class="close" >&times;</a>
		<h3>Sign in</h3>
	</div>
	<div class="modal-body">
		{{#if justRegistered}}
			<div class="green">
				You have successfully registered!
			</div>
		{{/if}}
		<input type="text" name="login" placeholder="login"/><br/>
		<input type="password" name="pass" placeholder="password"/>
		<a href="#?register=true">Registration</a>
	</div>
	<div class="modal-footer">
		<a href="#" class="btn submit btn-primary">Sign in</a>
	</div>
</div>