<div class="items-module">

	{{#eq loadState 'loading'}}
		<b>Loading items...</b>
		<div class="progress progress-striped active">
			<div class="bar" style="width: 100%;"></div>
		</div>
	{{/eq}}

	{{#eq loadState 'done'}}
		<b>Chose your items:</b>
		<div class="items-list-place"></div>
	{{/eq}}

	{{#eq loadState 'error'}}
		loading failed
	{{/eq}}
</div>