<ul class="menu-module nav nav-pills nav-stacked" style="max-width: 300px;">
	<li class="{{parent.m.people}}"><a href="#!conversation/people">People</a></li>
	<li class="{{parent.m.chat}}"><a href="#!conversation/chat">Chat</a></li>
</ul>