<div class="header-module">
	<div class="page-header">
		<h1><a href="#">ModApp</a> <small>shop demo application</small></h1>

		<div class="user btn-group">
			<a href="#?login=true" class="login btn btn-primary">Sign in</a>
			<button class="btn btn-primary dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></button>
			<ul class="dropdown-menu">
				<li><a href="#?login=true">Sign in</a></li>
				<li><a href="#?register=true">Registration</a></li>
			</ul>
		</div>

	</div>
	<div class="navbar">
		<div class="navbar-inner">
			<ul class="nav">
				<li class="{{parent.m.home}}"><a href="#!home">Home</a></li>
				<li class="{{parent.m.catalog}}"><a href="#!catalog">Catalog</a></li>
				<li class="{{parent.m.contacts}}"><a href="#!contacts">Contacts</a></li>
			</ul>
		</div>
	</div>
</div>