<div class="cart-module">
	{{#unless data.rows.length}}
		You cart is empty. You can add items from <a href="#!catalog/items">catalog</a>.
	{{else}}
		<table class="table">
			<thead>
				<tr><th>id</th><th>Name</th><th>price</th><th>quantity</th></tr>
			</thead>
			<tbody>
				{{#each data.rows}}
					<tr><td>{{id}}</td><td>{{name}}</td><td>{{price}}</td><td>1</td></tr>
				{{/each}}
			</tbody>
		</table>
		<div class="pull-right">
			<button class="clear btn">Clear</button>
			<button class="buy btn btn-primary">Buy items</button>
		</div>
	{{/unless}}
</div>